<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<td width="70%" style="padding:0 10px;"><a href="http://www.sandhuestate.com/"> <img src="images/company.png" width="439" height="119" title="Company Image" alt="Company Image"> </a></td>
			<td width="30%" style="padding:0px ; text-align:right;"><img alt="" title="" src="images/call-us.png" border="0"></td>
		</tr>
	</tbody>
</table>
