<div id="middle">
	<table cellspacing="0" cellpadding="0" border="0" width="100%">
		<tbody>
			<tr valign="top">
				<td style="padding:10px;" width="25%">
				<table class='table1'>
					<tr>
						<th class='th_view_table'>
						<div class='tab_view'>
							Property  By Area
						</div></th>
					</tr>
					<tr>
						<td class="td_view_bullet_table"> North Bahadurgarh </td>
					</tr>
					<tr>
						<td class="td_view_bullet_table"> South Bahadurgarh </td>
					</tr>
					<tr>
						<td class="td_view_bullet_table"> East Bahadurgarh </td>
					</tr>
					<tr>
						<td class="td_view_bullet_table"> West Bahadurgarh </td>
					</tr>
				</table>
				<div>
				<table class='table1' style="margin-top: 15px">
					<tr>
						<th class='th_view_table'>
						<div class='tab_view'>
							Contact Us
						</div></th>
					</tr>
					<tr>
						<td>
							<p class="company_name">Bhardawaj and Sons</p>
							<p class="address">256/31, Sector 9, New bahadurgarh, Haryana, Pin:124001</p>
							<p class="address"><b class="b2">Mobile:</b>+919654737878, +917357283727</p>
							<p class="address"><b class="b2">Email:</b>sahil134@gmail.com, lpk@gmail.com</p>
						
						<td>	
					</tr>
				</table>
				</div>
				</td>
				<td style="padding:10px;" width="50%"> Second Table will come here </td>
				<td style="padding:10px;" width="25%"> Third Table will come here </td>
			</tr>
		</tbody>
		</tbody>
		
</div>
