<html>
	<head>
	 <link rel="stylesheet" type="text/css" href="css/header.css" media="screen" />
	</head>
	<body style="background-color:grey">
		<div class="header" id="header" style="width: 960px; margin: 0pt auto; background-color:white">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td width="70%" style="padding:0 10px;"><a href="http://www.sandhuestate.com/"> <img src="images/company.png" width="439" height="119" title="Company Image" alt="Company Image"> </a></td>
						<td width="30%" style="padding:0px ; text-align:right;"><img alt="" title="" src="images/call-us.png" border="0"></td>
					</tr>
				</tbody>
			</table>
			<table>
				<tr>
					<% @tab_array=[["Home",""],["About Us",""],["Services",""],["Find Property",""],["Post Your Property",""],["Post Your Requirement",""],["Contact Us",""], ["Enquiry",""]] %>
					<%@tab_array.each do |elem|%>
					<td class='td_view'><a href="" class='tab_view'><%= elem[0]%></a></td>
					<%end%>
				</tr>
			</table>
		</div>
		<%= yield %>
	</body>
</html>

