<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/header.css" media="screen" />
		<link rel="stylesheet" type="text/css" href="css/barousel.css" media="screen" />
	</head>
	<body style="background-color:grey">
		<div class="header" id="header" style="width: 960px; margin: 0pt auto; background-color:white">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tbody>
					<tr>
						<td width="70%" style="padding:0 10px;"><a href="http://www.sandhuestate.com/"> <img src="images/company.png" width="439" height="119" title="Company Image" alt="Company Image"> </a></td>
						<td width="30%" style="padding:0px ; text-align:right;"><img alt="" title="" src="images/call-us.png" border="0"></td>
					</tr>
				</tbody>
			</table>
			<table>
				<tr>
					<% @tab_array=[["Home",""],["About Us",""],["Services",""],["Find Property",""],["Post Your Property",""],["Post Your Requirement",""],["Contact Us",""], ["Enquiry",""]] %>
					<%@tab_array.each do |elem|%>
					<td class='td_view'><a href="" class='tab_view'><%= elem[0]%></a></td>
					<%end%>
				</tr>
			</table>
			<div id="front_slider" class="barousel">
				<div class="barousel_image">
					<!-- image 1 -->
					<img src="images/slider/image_1.jpg" height="375px" width="960px" alt="" class="default" />
					<!-- image 2 -->
					<img src="images/slider/image_2.jpg" height="375px" width="960px" alt="" />
					<!-- image xx -->
					<img src="images/slider/image_3.jpg" height="375px" width="960px" alt="" />
				</div>
				<div class="barousel_content">
					<!-- content 1 -->
					<div class="default">
						<p>
							Renting
						</p>
					</div>
					<!-- content 2 -->
					<div>
						<p>
							Selling
						</p>
					</div>
					<div>
						<p>
							Buying
						</p>
					</div>
				</div>
				<div class="barousel_nav"></div>
			</div>
		</div>
		<div style="width: 960px; margin: 0pt auto;">
			<%= yield %>
		</div>
		<script type="text/JavaScript" src="javascript/jquery-1.8.3.min.js"></script> 
        <script type="text/JavaScript" src="javascript/jquery.barousel.min.js"></script> 
        <script type="text/JavaScript" src="javascript/front_slider.js"></script> 
	</body>
</html>

