pre {
    background-color: #FFFFFF;
    font-size: 12px;
    margin-bottom: 30px;
    padding: 10px;
}
img {
    border: medium none;
}
ul li {
    font-size: 0.75em;
    line-height: 16px;
}
.barousel {
    background: url("../images/bg_banner.gif") repeat scroll 0 0 transparent;
    border-top: 3px solid #000000;
    height: 401px;
    margin-bottom: 0;
    position: relative;
    width: 960px;
}
.barousel_image {
    height: 375px;
    position: absolute;
    width: 960px;
    z-index: 10;
}
.barousel_image img {
    display: none;
    position: absolute;
}
.barousel_image img.default {
    display: block;
}
.barousel_image img.current {
    z-index: 10;
}
.barousel_image img.previous {
    z-index: 5;
}
.barousel_content {
    background: url("../images/bg_barousel_content.png") repeat scroll 0 0 transparent;
    bottom: 36px;
    color: #FFFFFF;
    left: 10px;
    padding: 15px 18px 0;
    position: absolute;
    width: 247px;
    z-index: 50;
}
.barousel_content div {
    display: none;
}
.barousel_content div.default {
    display: block;
}
.barousel_content p {
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
}
.barousel_content p.header {
    color: #FFF55B;
    font-size: 28px;
    font-weight: normal;
    line-height: 28px;
}
.barousel_content a, .barousel_content a:hover {
    background-color: transparent !important;
    color: #FFF55B;
}
.barousel_nav {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    height: 23px;
    padding: 3px 3px 0 0;
    position: absolute;
    width: 957px;
    z-index: 20;
}
.barousel_nav .counter {
    color: #FFFFFF;
    float: right;
    font-size: 0.75em;
    margin: 3px 5px 0 0;
}
.barousel_nav ul {
    float: right;
    margin: 0;
    padding: 0;
}
.barousel_nav li {
    float: left;
    font-size: 0;
    line-height: 0;
    list-style: none outside none;
    padding-left: 3px;
}
.barousel_nav li a {
    background-color: #4D4D4D;
    display: block;
    font-size: 0;
    height: 20px;
    line-height: 0;
    text-decoration: none;
    width: 25px;
}
.barousel_nav li a:hover {
    background-color: #6E6E6E;
}
.barousel_nav li a.current {
    background-color: #FFF55B;
}
.barousel_nav li.prev a {
    background-image: url("../images/barousel_link_previous.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
}
.barousel_nav li.next a {
    background-image: url("../images/barousel_link_next.gif");
    background-position: 0 0;
    background-repeat: no-repeat;
}
  
